body {
	background-image: url("../images/grid.png");
	background-repeat: repeat;
}
/*p {
	margin-left: 20px;
	margin-right: 20px;
}*/
.pull-left {
	margin-right: 20px;
	margin-bottom: 10px;
}



@media screen and (max-width: 980px) {
  /* The body's bg color will be #333 */
	
  
}



@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
  }
  /* The wrapper's width will be 600px */
  #mainContent, #headerDiv {
    width: 500px;
  }
  #connect, #navLinks {
  	float: left;
  	width: 100%;
  }
}



@media screen and (max-width: 640px) {
  /* The body's bg color will be #333 */
  body {
  }
  /* The wrapper's width will be 600px */
  #mainContent, #headerDiv {
    width: 500px;
  }
  #connect {
  	float: left;
  	width; 100%
  }
  #navLinks {
  	width: 100%;
  }
  header {
  	position:static;
  }
}
