body {
  background-image: url("../images/grid.png");
  background-repeat: repeat;
}
img {
  margin: 20px 15px 0px 0px;
  position:relative;
}
.panel {
  padding-bottom: 15px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller THIS ONE WORKS*/
@media (max-width: 480px) {
  .headShot {
    width: 80%; 
    margin: 0 0 15px 15px;
}